# Based on https://www.toptal.com/developers/gitignore?templates=python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Spyder project settings
.spyderproject
.spyproject

# IPython
profile_default/
ipython_config.py
